* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  transition: var(--transition);
}

header {
  background: var(--light);
  box-shadow: 0 11px 10px 0 #a3a3a3;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.schlLogo {
  margin: 0.4rem;
}

.schlLogo > img {
  width: 100px;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList > a {
  text-decoration: none;
  color: var(--themeDark);
}

.navLink {
  margin: 0 1rem;
  list-style: none;
  font-size: var(--pFont);
}

.navLink > i:nth-child(1) {
  font-size: var(--h2Font);
}

/* Home */

#home {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4) url(../img/nbps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  color: var(--light);
  text-align: center;
  padding: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home > h1 {
  font-size: var(--hFont);
  font-weight: 800;
  margin: 1rem;
}

#home > p {
  font-size: var(--pFont);
  margin: 1rem;
}

.homeBtn > button {
  font-size: var(--pFont);
  font-weight: bolder;
  padding: 0.8rem 1.5rem;
  margin: 0.3rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.homeBtn > button:nth-child(1) {
  background: var(--theme);
  color: var(--light);
}

.homeBtn > button:nth-child(1):hover {
  background: var(--light);
  color: var(--dark);
}

.homeBtn > button:nth-child(2) {
  background: var(--themeLight);
}

.homeBtn > button:nth-child(2):hover {
  background: var(--light);
}

/* Features */

#features {
  margin: var(--sectionMargin);
  text-align: center;
}

#features > h1 {
  font-size: var(--hFont);
  color: var(--themeDark);
}

#features > p {
  font-size: var(--pFont);
  margin: 0.5rem;
}

/* Feature Cards */

#featureCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  align-items: center;
  place-items: center;
}

.card {
  background: var(--gray);
  margin: 0.5rem;
  min-width: 30vw;
  padding: 2rem;
  cursor: context-menu;
}

.featureHeading {
  font-size: var(--h2Font);
  margin-bottom: 0.5rem;
}

.featureDescription {
  font-size: var(--p2Font);
}

.featureSvg {
  margin-bottom: 1rem;
  font-size: var(--hFont);
}

/* Rankers */

#rankers {
  margin: var(--sectionMargin);
  text-align: center;
}

#rankers > h1 {
  font-size: var(--hFont);
  color: var(--themeDark);
}

#rankers > p {
  font-size: var(--pFont);
  margin: 0.5rem;
}

.toppers {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* gap: 0.5rem; */
  /* align-items: center; */
  /* place-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.rankerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  background: var(--gray);
  padding-bottom: 0.5rem;
  position: relative;
  border-radius: 1rem;
}

.rankerCard:hover {
  transform: scale(1.08);
  z-index: 1;
}

.rankerImg {
  width: 20rem;
  border-radius: 1rem;
  padding-bottom: 2rem;
}

.rankerMarks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  background: var(--purple);
  width: 4.5rem;
  height: 4.5rem;
  padding: 0 0.5rem;
  border-radius: 100%;
  font-weight: bolder;
  font-size: var(--pFont);
  position: absolute;
  left: 73%;
  top: 68%;
}

.rankerBio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem;
}

.rankerName {
  font-weight: 600;
  font-size: var(--p2Font);
  color: var(--themeDark);
}

/* Teachers */

.teachers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.staffCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--cream);
  padding: 1rem;
  margin: 1rem;
}

.staffImg {
  border-radius: 100%;
  box-shadow: 0px 0px 9px 11px #f7f0fe;
  width: 10rem;
}

.staffInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.staffInfo > h2 {
  color: var(--theme);
  font-size: var(--h2Font);
}

.staffInfo > p {
  color: var(--theme);
  font-size: var(--pFont);
}
