:root {
  --light: #fff;
  --themeDark: #231f52;
  --themeLight: #ffb055;
  --theme: #0139a0;
  --dark: #000;
  --dark2: #101a2f;
  --gray: #faf8ff;
  --gray2: #586177;
  --purple: #494989;
  --cream: #efeee9;

  --pFont: 1.25rem;
  --p2Font: 1.1rem;
  --h2Font: 1.75rem;
  --h3Font: 1.5rem;
  --hFont: 3rem;
  --transition: 0.2s all linear;

  --sectionMargin: 5rem 0 1rem 0;
}
